/* Contenedor principal*/
.results-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

/* tarjeta individual */
.result-card {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  gap: 1rem;
}
/* Imagen */
.thumb {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
}

.result-content {
  flex: 1;
 /* Nombre */
  .nombre {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1a0dab;
  }

  /* Descripción */
  .abstract {
    margin: 0.25rem 0;
    color: #111111;
    font-size: 1rem;

    display: -webkit-box;        

    -webkit-line-clamp: 3;   
    line-clamp: 3;           
  
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &.expanded {
      display: block;
      -webkit-line-clamp: unset;
      line-clamp: unset; 
      overflow: visible;
    }
 }

 .btn-toggle.link {
  background: none;
  border: none;
  padding: 0;
  margin-top: 0.25rem;
  font-size: 0.95rem;
  font-weight: 600;
  color: #0645ad;
  cursor: pointer;
  text-decoration: underline;
  font-family: inherit;
  &:hover {
    color: #0b0080;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
}


  /* Información adicional */
  .extras {
    font-size: 0.95rem;
    color: #0b0b0b;
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
  }
} 