<!-- searcher.component.html -->
<div class=" card card-flush">
  <!--app-aside *ngIf="asideDisplay" id="kt_aside" class="aside aside-extended" [ngClass]="asideCSSClasses"
      data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}"
      data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="end"
      data-kt-drawer-toggle="#kt_aside_toggle"></app-aside-->
  <app-header id="kt_header" class="header" [ngClass]="headerCSSClasses" #ktHeader data-kt-sticky="true"
              data-kt-sticky-name="header">
  </app-header>

<div class="card-body container fs-md-6">

    <div class="search-controls fs-md-4">
      <input
        type="text"
        [(ngModel)]="query"
        class="form-control form-control-flush"
        placeholder="{{ 'SEARCH.INPUT_PLACEHOLDER' | translate }}"
      />
      <select
        class="form-select other-value-select mw-md-100 fs-md-4"
        data-control="select2"
        data-hide-search="true"
        data-placeholder=""
        id="language-select"
        (change)="onLangChange($event)"
        [value]="currentLang()"
      >
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="fr">Français</option>
      </select>
      <button
        #searchBtn
        class="btn btn-primary fs-md-4 "
        (click)="onSearch()"
      >
        {{ 'SEARCH.BUTTON' | translate }}
      </button>

      <div class="text-dark" *ngIf="isLoading()">
        <button type="button" class="btn btn-primary" data-kt-indicator="on">
            <span class="indicator-progress d-flex">
            <div class="row d-flex" *ngIf="isLoading()">{{ 'SEARCH.LOADING' | translate }}</div>
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
          </button>
      </div>
      <div *ngIf="error()">{{ error() }}</div>
    </div>
  </div>
  <div class="card-body">
    <!-- card-body -->
    <!-- Mostrar resultados por color -->
    <!-- Mostrar resultados por color -->
    <app-results-table
      *ngIf="frutasColor()?.length"
      [data]="frutasColor() || []">
    </app-results-table>
    <!-- Mostrar resultados normales -->
    <app-results-table
      *ngIf="!frutasColor() && frutas().length"
      [data]="frutas()">
    </app-results-table>
    <div *ngIf="isLoading()">Cargando…</div>
    <div *ngIf="error()" class="text-danger">{{ error() }}</div>
  </div>
</div>
